* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Luckiest Guy", "Cabin Sketch" Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes scroll {
    
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes animateWaves {
    
    0% {
      background-position-x: 1000px;
    }
    
    100% {
      background-positon-x: 0px;
    }
}
  
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes change-col {
    from {
        background: transparent;
    }

    to {
        background: #000;
    }
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-image: url(mainbg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background: #fff;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1;
}

.logo {
    color: #fff;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 48px;
    font-weight: bold;
    -webkit-text-stroke: 2px #000;
}

.navigation a {
    font-family: "Jost", serif;
    text-decoration: none;
    vertical-align: baseline;
    color: #000;
    font-size: 18px;
    margin: 0px 40px 0px 0px;
    position: relative;
}

.navigation a::before  {
    content: '';
    height: 3px;
    width: 0%;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 10px;
    transition: .3s;
    text-align: center;
}

.navigation a:hover::before {
    width: 100%;
}

.shop a {
    text-decoration: none;
    vertical-align: baseline;
    color: #000;
    font-size: 18px;
    margin: 0px 40px 0px 0px;
    position: relative;
}

.shop a::before {
    content: '';
    height: 3px;
    width: 0%;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 10px;
    transition: .3s;
    text-align: center;
}

.shop a:hover::before {
    width: 100%;
}

.container {
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background: #000000AA;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container .content {
    width: fit-content;
    padding: 20px;
}

.container .content .title {
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 5px;
    font-size: 5rem;
    max-width: fit-content;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

.container .content .desc {
    font-family: "Jost", sans-serif;
    max-width: 100%;
    font-size: 1.2rem;
    margin: 38px 0px;
    letter-spacing: 1.5px;
    color: #fff;
}

.container .content .btn-1 {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 16px ;
    font-family: "Jost";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .content .btn-1:hover {
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 5px 5px 0px #fff;
}

.container .content .btn-1:active {
    background: #6e6e6e;
    box-shadow: none;
    transform: translateY(4px);
}

.coffee-container {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.coffee-container .coffee {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

.coffee-container .coffee .coffee-content {
    width: 45%;
}

.coffee-container .coffee .coffee-content .mini-title {
    font-size: 22px;
    font-family: "Jost";
    font-weight: 600;
    color: #c8935f;
    margin-bottom: 20px;
}

.coffee-container .coffee .coffee-content h1 {
    font-size: 54px;
    font-family: "Luckiest Guy", serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #000;
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom: 20px;
}

.coffee-container .coffee .coffee-content .mini-description {
    font-size: 18px;
    font-family: "Jost";
    margin-bottom: 20px;
}

.coffee-flavor {
    padding-bottom: 25px;
}

.coffee-container .coffee .coffee-content .coffee-flavor button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.coffee-container .coffee .coffee-content .coffee-flavor button:hover {
    background: #a8895d;
    color: #51422c;
    border: 2px solid #fff;
    box-shadow: 5px 5px 0px #fff;
}

.coffee-container .coffee .coffee-content .coffee-flavor button:active {
    background: #51422c;
    color: #a8895d;
    box-shadow: none;
    transform: translateY(4px);
}

.coffee-container .coffee .coffee-content .coffee-flavor #txt1-color {
    color: #c8935f;
}

.coffee-container .coffee .coffee-content a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-family: "Jost";
}

.coffee-container .coffee .coffee-img {
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #000;
}

.coffee-container .coffee .coffee-img img {
    min-width: 550px;
    min-height: 400px;
    max-width: 550px;
    max-height: 400px;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
}

.pastry-container {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pastry-container .pastry {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

.pastry-container .pastry .pastry-img img {
    min-width: 650px;
    min-height: 400px;
    max-width: 650px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.pastry-container .pastry .pastry-img {
    margin: 0px 5%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #000;
}

.pastry-container .pastry .pastry-content {
    width: 75%;
    padding: 0px 5%;
}

.pastry-container .pastry .pastry-content .mini-title {
    font-size: 22px;
    font-family: "Jost";
    font-weight: 600;
    color: #c8935f;
    margin-bottom: 20px;
}

.pastry-container .pastry .pastry-content h1 {
    font-size: 54px;
    text-transform: uppercase;
    font-family: "Luckiest Guy", serif;
    color: transparent;
    -webkit-text-stroke: 2px #000;
    letter-spacing: 5px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.pastry-container .pastry .pastry-content .mini-description {
    font-size: 18px;
    font-family: "Jost";
    margin-bottom: 20px;
}

.pastry-flavor {
    padding-bottom: 25px;
}

.pastry-container .pastry .pastry-content .pastry-flavor button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pastry-container .pastry .pastry-content .pastry-flavor #pastry-col1 {
    color: #c8935f;
}

.pastry-container .pastry .pastry-content .pastry-flavor button:hover {
    background: #a8895d;
    color: #51422c;
    border: 2px solid #fff;
    box-shadow: 5px 5px 0px #fff;
}

.pastry-container .pastry .pastry-content .pastry-flavor button:active {
    background: #51422c;
    color: #a8895d;
    box-shadow: none;
    transform: translateY(4px);
}

.pastry-container .pastry .pastry-content a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-family: "Jost";
}

.meals-container {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.meals-container .meals {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

.meals-container .meals .meals-content {
    width: 45%;
}

.meals-container .meals .meals-content .meals-title {
    font-size: 22px;
    font-family: "Jost";
    font-weight: 600;
    color: #c8935f;
    margin-bottom: 20px;
}

.meals-container .meals .meals-content h1 {
    font-size: 54px;
    font-family: "Luckiest Guy", serif;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #000;
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom: 20px;
}

.meals-container .meals .meals-content .meals-description {
    font-size: 18px;
    font-family: "Jost";
    margin-bottom: 20px;
}

.meals-flavor {
    padding-bottom: 25px;
}

.meals-container .meals .meals-content .meals-flavor button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.meals-container .meals .meals-content .meals-flavor button:hover {
    background: #a8895d;
    color: #51422c;
    border: 2px solid #fff;
    box-shadow: 5px 5px 0px #fff;
}

.meals-container .meals .meals-content .meals-flavor button:active {
    background: #51422c;
    color: #a8895d;
    box-shadow: none;
    transform: translateY(4px);
}

.meals-container .meals .meals-content .meals-flavor #meal1-color {
    color: #c8935f;
}

.meals-container .meals .meals-content a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-family: "Jost";
}

.meals-container .meals .meals-img img {
    min-width: 550px;
    min-height: 400px;
    max-width: 550px;
    max-height: 400px;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
}

.meals-container .meals .meals-img {
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #000;
}

.best-container {
    background: #fff;
    width: 100%;
}

.best-container .bs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.best-container .bs-container h1 {
    font-family: "Jost", serif;
    padding: 0px 0px 24px 50px;
    font-size: 42px;
}

.best-container .bs-container a {
    font-family: "Jost", serif;
    font-weight: 700;
    padding: 0px 50px 0px 0px;
    font-size: 20px;
    vertical-align: baseline;
    text-decoration: none;
    color: #000;
}

.best-container .best-gallery {
    display: flex;
    flex-direction: row;
    flex: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.bcontainer .image-bg {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.bcontainer .image-bg img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    transition: .7s;
}

.bcontainer .image-bg:hover img {
    transform: scale(1.1);
}

.bcontainer .image-bg::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #604e3650;
    z-index: 1;
}

.bcontainer .product-name {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.bcontainer .product-name p {
    position: relative;
    font-size: 24px;
    font-family: "Jost", serif;
    font-weight: 500;
    color: #fff;
    z-index: 2;
}

.bcontainer .best-info {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.bcontainer .best-info a {
    position: relative;
    color: #000;
    background: #fff;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 250px;
    box-shadow: 5px 5px 0px #000;
    z-index: 3;
    transition: all 0.3s ease;
}

.bcontainer .best-info a:hover {
    background: #a8895d;
    color: #51422c;
    border: 2px solid #fff;
    box-shadow: 5px 5px 0px #fff;
}

.bcontainer .best-info a:active {
    background: #51422c;
    color: #a8895d;
    box-shadow: none;
    transform: translateY(4px);
}

.blank {
    width: 100%;
    height: 25vh;
}

.gallery-container {
    position: relative;
    min-height: 100vh;
}

.gallery-container .h1-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery-container .h1-container h1 {
    width: fit-content;
    padding: 10px 50px;
    margin: 5px;
    font-family: "Luckiest Guy", serif;
    -webkit-text-stroke: 2px #000;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
}

.gallery-container .images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.gallery-container .images-container .gallery-img {
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.gallery-container .images-container .gallery-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s linear;
}

.gallery-container .images-container .gallery-img:hover img {
    transform: scale(1.1);
}

.gallery-container .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
}

.gallery-container .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.gallery-container .popup-image img {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}


.gallery-container .popup-image .button-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.gallery-container .popup-image .button-container button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gallery-container .popup-image button:hover {
    background: #a8895d;
    color: #51422c;
    border: 2px solid #fff;
    box-shadow: 5px 5px 0px #fff;
}

.gallery-container .popup-image button:active {
    background: #51422c;
    color: #a8895d;
    box-shadow: none;
    transform: translateY(4px);
}

.footer {
    position: relative;
    width: 100%;
    background: #a8895d;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
  filter: sepia(50%) hue-rotate(180deg);
}

.wave#wave1 {
  z-index: 3;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.wave#wave2 {
  z-index: 2;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 3;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 2;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@media only screen and (max-width: 1080px) {

    body {
        width: 100%;
        height: 100vh;
        background-image: url(mainbg.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    nav {
        background: #fff;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        position: fixed;
        z-index: 1;
    }
    
    .logo {
        color: #fff;
        font-family: "Luckiest Guy", sans-serif;
        font-size: 20px;
        font-weight: bold;
        -webkit-text-stroke: 1px #000;
    }
    
    .navigation a {
        font-family: "Jost", serif;
        text-decoration: none;
        vertical-align: baseline;
        color: #000;
        font-size: 12px;
        margin: 0px 40px 0px 0px;
        position: relative;
    }
    
    .navigation a::before  {
        content: '';
        height: 3px;
        width: 0%;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -5px;
        border-radius: 10px;
        transition: .3s;
        text-align: center;
    }
    
    .navigation a:hover::before {
        width: 100%;
    }
    
    .shop a {
        text-decoration: none;
        vertical-align: baseline;
        color: #000;
        font-size: 12px;
        margin: 0px 40px 0px 0px;
        position: relative;
    }
    
    .shop a::before {
        content: '';
        height: 3px;
        width: 0%;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -5px;
        border-radius: 10px;
        transition: .3s;
        text-align: center;
    }
    
    .shop a:hover::before {
        width: 100%;
    }
    
    .container {
        min-width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        padding-left: 50px;
        background: #000000AA;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .container .content {
        width: fit-content;
        padding: 20px;
    }
    
    .container .content .title {
        font-family: "Luckiest Guy", sans-serif;
        letter-spacing: 2px;
        font-size: 3rem;
        max-width: fit-content;
        color: #fff;
        -webkit-text-stroke: 2px #000;
    }
    
    .container .content .desc {
        font-family: "Jost", sans-serif;
        max-width: 100%;
        font-size: 1rem;
        margin: 20px 0px;
        letter-spacing: 1.5px;
        color: #fff;
    }
    
    .container .content .btn-1 {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 16px ;
        font-family: "Jost";
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #000;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #000;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .container .content .btn-1:hover {
        background: #000;
        color: #fff;
        border: 2px solid #fff;
        box-shadow: 5px 5px 0px #fff;
    }
    
    .container .content .btn-1:active {
        background: #6e6e6e;
        box-shadow: none;
        transform: translateY(4px);
    }
    
    .coffee-container {
        width: 100%;
        height: 50vh;
        background: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .coffee-container .coffee {
        padding: 0px 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        animation: scroll linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    
    .coffee-container .coffee .coffee-content {
        width: 45%;
        padding-right: 2%;
    }
    
    .coffee-container .coffee .coffee-content .mini-title {
        font-size: 8px;
        font-family: "Jost";
        font-weight: 600;
        color: #c8935f;
        margin-bottom: 5%;
    }
    
    .coffee-container .coffee .coffee-content h1 {
        font-size: 20px;
        font-family: "Luckiest Guy", serif;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px #000;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 5%;
    }
    
    .coffee-container .coffee .coffee-content .mini-description {
        font-size: 8px;
        font-family: "Jost";
        margin-bottom: 5%;
    }
    
    .coffee-flavor {
        padding-bottom: 5%;
    }
    
    .coffee-container .coffee .coffee-content .coffee-flavor button {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        font-size: 8px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #000;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #000;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .coffee-container .coffee .coffee-content .coffee-flavor button:hover {
        background: #a8895d;
        color: #51422c;
        border: 2px solid #fff;
        box-shadow: 5px 5px 0px #fff;
    }
    
    .coffee-container .coffee .coffee-content .coffee-flavor button:active {
        background: #51422c;
        color: #a8895d;
        box-shadow: none;
        transform: translateY(4px);
    }
    
    .coffee-container .coffee .coffee-content .coffee-flavor #txt1-color {
        color: #c8935f;
    }
    
    .coffee-container .coffee .coffee-content a {
        text-decoration: none;
        color: #000;
        font-size: 12px;
        font-family: "Jost";
    }
    
    .coffee-container .coffee .coffee-img {
        margin: 0px 5%;
        height: 150px;
        border-radius: 10px;
        box-shadow: 10px 10px 0px #000;
    }
    
    .coffee-container .coffee .coffee-img img {
        min-width: 250px;
        min-height: 150px;
        max-width: 250px;
        max-height: 150px;
        object-position: center;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .pastry-container {
        width: 100%;
        height: 50vh;
        background: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .pastry-container .pastry {
        padding: 0px 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        animation: scroll linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    
    .pastry-container .pastry .pastry-img img {
        min-width: 250px;
        min-height: 150px;
        max-width: 250px;
        max-height: 150px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .pastry-container .pastry .pastry-img {
        margin: 0px 2%;
        height: 150px;
        border-radius: 10px;
        box-shadow: 10px 10px 0px #000;
    }
    
    .pastry-container .pastry .pastry-content {
        width: 75%;
        padding-left: 5%;
    }
    
    .pastry-container .pastry .pastry-content .mini-title {
        font-size: 12px;
        font-family: "Jost";
        font-weight: 600;
        color: #c8935f;
        margin-bottom: 5%;
    }
    
    .pastry-container .pastry .pastry-content h1 {
        font-size: 22px;
        text-transform: uppercase;
        font-family: "Luckiest Guy", serif;
        color: transparent;
        -webkit-text-stroke: 1px #000;
        letter-spacing: 5px;
        font-weight: bolder;
        margin-bottom: 5%;
    }
    
    .pastry-container .pastry .pastry-content .mini-description {
        font-size: 8px;
        font-family: "Jost";
        margin-bottom: 5%;
    }
    
    .pastry-flavor {
        padding-bottom: 5%;
    }
    
    .pastry-container .pastry .pastry-content .pastry-flavor button {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        font-size: 8px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #000;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #000;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .pastry-container .pastry .pastry-content .pastry-flavor #pastry-col1 {
        color: #c8935f;
    }
    
    .pastry-container .pastry .pastry-content .pastry-flavor button:hover {
        background: #a8895d;
        color: #51422c;
        border: 2px solid #fff;
        box-shadow: 5px 5px 0px #fff;
    }
    
    .pastry-container .pastry .pastry-content .pastry-flavor button:active {
        background: #51422c;
        color: #a8895d;
        box-shadow: none;
        transform: translateY(4px);
    }
    
    .pastry-container .pastry .pastry-content a {
        text-decoration: none;
        color: #000;
        font-size: 12px;
        font-family: "Jost";
    }
    
    .meals-container {
        width: 100%;
        height: 50vh;
        background: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .meals-container .meals {
        padding: 0px 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        animation: scroll linear;
        animation-timeline: view();
        animation-range: entry 0 cover 50%;
    }
    
    .meals-container .meals .meals-content {
        width: 45%;
        padding-right: 2%;
    }
    
    .meals-container .meals .meals-content .meals-title {
        font-size: 8px;
        font-family: "Jost";
        font-weight: 600;
        color: #c8935f;
        margin-bottom: 5%;
    }
    
    .meals-container .meals .meals-content h1 {
        font-size: 20px;
        font-family: "Luckiest Guy", serif;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px #000;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 5%;
    }
    
    .meals-container .meals .meals-content .meals-description {
        font-size: 8px;
        font-family: "Jost";
        margin-bottom: 5%;
    }
    
    .meals-flavor {
        padding-bottom: 5%;
    }
    
    .meals-container .meals .meals-content .meals-flavor button {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        font-size: 8px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #000;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #000;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .meals-container .meals .meals-content .meals-flavor button:hover {
        background: #a8895d;
        color: #51422c;
        border: 2px solid #fff;
        box-shadow: 5px 5px 0px #fff;
    }
    
    .meals-container .meals .meals-content .meals-flavor button:active {
        background: #51422c;
        color: #a8895d;
        box-shadow: none;
        transform: translateY(4px);
    }
    
    .meals-container .meals .meals-content .meals-flavor #meal1-color {
        color: #c8935f;
    }
    
    .meals-container .meals .meals-content a {
        text-decoration: none;
        color: #000;
        font-size: 12px;
        font-family: "Jost";
    }
    
    .meals-container .meals .meals-img img {
        min-width: 250px;
        min-height: 150px;
        max-width: 250px;
        max-height: 150px;
        object-position: center;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .meals-container .meals .meals-img {
        margin: 0px 5%;
        height: 150px;
        border-radius: 10px;
        box-shadow: 10px 10px 0px #000;
    }

    .best-container .bs-container h1 {
        font-size: 24px;
    }

    .best-container .bs-container a {
        font-size: 12px;
    }

    .bcontainer {
        padding-bottom: 5%;
    }

    .bcontainer .image-bg {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .bcontainer .image-bg img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        transition: .7s;
    }

    .bcontainer .best-info a {
        position: relative;
        color: #000;
        background: #fff;
        padding: 8px;
        border: 2px solid #000;
        border-radius: 250px;
        box-shadow: 5px 5px 0px #000;
        z-index: 3;
        transition: all 0.3s ease;
    }

    .bcontainer .product-name {
        position: absolute;
        bottom: 0;
        left: 5%;
    }

    .bcontainer .product-name p {
        position: relative;
        font-size: 16px;
        font-family: "Jost", serif;
        font-weight: 500;
        color: #fff;
        z-index: 2;
    }

    .gallery-container .popup-image img {
        position: absolute;
        width: 250px;
        height: 250px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #fff;
        border-radius: 5px;
        object-fit: cover;
    }
    
    
    .gallery-container .popup-image .button-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }
    
    .gallery-container .popup-image .button-container button{
        padding: 0px 10px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #000;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        box-shadow: 5px 5px 0px #000;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}   